@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background: #000;
  margin:0;
  overflow: hidden;
  perspective: 1000px;
  height:100vh;
}

.konfetti {
  position: absolute;
  transform-origin: 50% 50%;  
  animation: rol 1500ms linear infinite;
}

@-webkit-keyframes rol {
  0%   {
    transform: rotateY(0deg) rotateX(-90deg);
  }
  100% {
    transform: rotateY(359deg) rotateX(270deg);
  }
}

.hny {
  font-family: 'Pacifico';
  font-size: 1.2em;
  color: #bee412;
  padding: 8em;
  
  white-space:nowrap;

  animation: scroll 8s linear infinite;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%)
  }
}